tr {
    height: 1.1rem;
}
td {
    width: 1rem;
    border: 1px blue solid;
}
td.filled {
    background-color: darkslategray;
}
th.col-args, th.row-args{
    font-size: .7rem;
    white-space: nowrap;
}
th.col-args {
    text-align: left;
}
th.row-args {
    text-align: right;
}
th.rotate {
    height: 50px;
}
th.rotate > div {
    transform: translateY(15px) rotate(-90deg);
    width: 1rem;
}
th.rotate > div > span {
    text-align: right;
}
